.board-container {
  display: block;
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  background: #f0f0f0;
  border-radius: 3px;
}

.board-container .cg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.board-container .cg-board {
  width: 100%;
  height: 100%;
  display: block; 
}

.board-container, .cg-wrap, .cg-board {
  line-height: 0;
  font-size: 0;
}